<%#
# encoding: utf-8
#--
#   Copyright (C) 2012 Gitorious AS
#
#   This program is free software: you can redistribute it and/or modify
#   it under the terms of the GNU Affero General Public License as published by
#   the Free Software Foundation, either version 3 of the License, or
#   (at your option) any later version.
#
#   This program is distributed in the hope that it will be useful,
#   but WITHOUT ANY WARRANTY; without even the implied warranty of
#   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#   GNU Affero General Public License for more details.
#
#   You should have received a copy of the GNU Affero General Public License
#   along with this program.  If not, see <http://www.gnu.org/licenses/>.
#++
%>
<%
  @title = "#{blob.path} in #{repository.name}:master"
  if !defined?(multi_repo_mode); multi_repo_mode = false; end
%>
<div class="gts-file">
  <%#
  <div class="dropdown gts-branch-selector pull-right">
    <a href="#" data-toggle="dropdown" class="dropdown-toggle"><span class="caret"></span> <em>branch:</em> master</a>
    <ul class="dropdown-menu">
      <li class="dropdown-label"><strong>Branches</strong></li>
      <li><a href="#">master</a></li>
      <li class="dropdown-label"><strong>Tags</strong></li>
      <li><a href="#">v2.0.0</a></li>
    </ul>
  </div>
  %>
  <ul class="pull-right gts-blob-view">
    <li class="active">Blob content</li>
    <li><a href="<%= blame_url(repository, blob, ref, multi_repo_mode) %>">Blame</a></li>
    <li><a href="<%= history_url(repository, blob, ref, multi_repo_mode) %>">History</a></li>
    <li><a href="<%= raw_url(repository, blob, ref, multi_repo_mode) %>">Raw blob</a></li>
  </ul>
  <%= breadcrumb(repository, blob.path, ref, :multi_repo_mode => multi_repo_mode) %>
  <%= highlight_lines(blob.path, blob.raw) %>
</div>
